/* Theme Color */
$primary_color: #ff5f1b;
$primary_light: #f98d5f;
$text_color: #1f2937;
$text_color2: #64748b;
$link_color: #1f2937;
$bg_black: #212121;
$bg_dark: #333;
$bg_light_grey: #f4f4f4;

/* Common Color */
$white: #fff;
$black: #333;
$grey: #ddd;
$bluish_grey: #64748b;

.primary_color{
    color: #ff5f1b;
}