.about-us-area{
    img{
        width: 360px;
    }
    ul{
        li{
            border-left: 2px solid $text_color2;
            color: $text_color2;
            // &:nth-child(2){
            //     background-color: #fed7aa;
            //     border-radius: 10px;
            // }
            span{
                display: block;
            }
        }
    }
}