.header-area{
    &.fixed{
        position: fixed;
        z-index: 99999;
        inset: 0;
        background: #000;
    }
    .carts{
        i{
            color: $primary_color;
            transition: .3s;
            &:hover{
                color: $primary_light;
            }
        }
    }
    .navigation-bar{
        li{
            a{
                border-bottom: 2px solid transparent;
                &:hover{
                    color: $primary_color;
                    border-bottom: 2px solid $primary_color;
                }
            }
        }
    }
}